<h1>Events</h1>

<div style="background-color: #eee; padding: 20px;">
  <%= form_tag org_events_path(@org), method: :get do %>
    <div class="field">
      <label>
        Limit: <%= number_field_tag :limit, @limit %>
      </label>
    </div>

    <div class="field">
      <label>
        Hostname: <%= text_field_tag :hostname, @hostname %>
      </label>
    </div>

    <%= submit_tag "Search" %>
    &middot; <%= link_to "Reset", org_events_path(@org) %>
  <% end %>
</div>

<br>

<% if @events.present? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Timestamp</th>
        <th>Hostname</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.timestamp %></td>
          <td><%= event.hostname %></td>
          <td><%= link_to 'Show', [@org, event] %></td>
          <td><%= link_to 'Edit', edit_org_event_path(@org, event) %></td>
          <td><%= link_to 'Destroy', [@org, event], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    No events for this org.
  </p>
<% end %>

<br>

<%= link_to 'New Event', new_org_event_path(@org) %>
